<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    
    <!--* you need to use your own name, class names, id, stylesheet, javascript function name name etc...-->
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Questionnaire</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'markov/css/formStyle.css' %}" />

    <script type="text/javascript">

      var submitted=false;
      var myURL = document.location;

      function buildURL(params){
        return myURL + params;
      }

      function validate()
      {

        var firstAns = document.getElementById("entry_332523929").value;
        var secondAns = document.getElementsByName("entry.2009824324");
        for(var i=0; i<secondAns.length; i++){
          if(secondAns[i].checked){
            secondAns = secondAns[i].value;
            break;
          }
        }
        console.log(secondAns);

        var thirdAns = document.getElementsByName("entry.1154479602");
        for(var i=0; i<thirdAns.length; i++){
          if(thirdAns[i].checked){
            thirdAns = thirdAns[i].value;
            break;
          }
          else if (i == thirdAns.length-1)
            thirdAns = "";
        }
        console.log(thirdAns);

        var fourthAns = document.getElementsByName("entry.1101946974");
        for(var i=0; i<fourthAns.length; i++){
          if(fourthAns[i].checked){
            fourthAns = fourthAns[i].value;
            break;
          }
          else if(i==fourthAns.length-1)
            fourthAns = "";
        }
        console.log(fourthAns);

        var fifthAns = document.getElementsByName("entry.1142656701");
        for(var i=0; i<fifthAns.length; i++){
          if(fifthAns[i].checked){
            fifthAns = fifthAns[i].value;
            break;
          }
          else if(i==fifthAns.length-1)
            fifthAns = "";
        }
        console.log(fifthAns);

        if(firstAns==""){
          alert("Please enter your patient's age.");
          location.reload();
          document.getElementById("entry_332523929").focus();
          
          return false;
        }
        else if(parseInt(firstAns)<5){
          alert("Our model requires age to be greater than 4.");
          location.reload();
          document.getElementById("entry_332523929").focus();
          return false;
        }
        else if(parseInt(firstAns)>110){
          alert("Our model requires age to be smaller than 111.");
          location.reload();
          document.getElementById("entry_332523929").focus();
          location.reload();
          return false;
        }
        else if(secondAns==""){
          alert("Please choose the endemicity of the patient's country.");
          location.reload();
          document.getElementById("entry_332523929").focus();
          location.reload();
          return false;
        }
        else if(thirdAns==""){
          alert("Please answer if your patient has Cirrhosis.");
          location.reload();
          document.getElementById("entry_1952643675").focus();
          location.reload();
          return false;
        }
        else if(thirdAns=="No"){
          if(fourthAns=="" || fifthAns==""){
            alert("Please answer questions 4 and 5 if your patient does not have Cirrhosis.");
            location.reload();
            document.getElementById("entry_1952643675").focus();
            location.reload();
            return false;
          }
        }
        alert('YOU ARE GUCCI');
        return submitted=true;
      }
      //your validation function ends here
    </script>
    
  </head>
  
  <body>
    <div id="maincontainer-body">

    <!-- Loads results page when submit button is pressed. -->
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
      onload="if(submitted) {window.location=buildURL('results');}">
      </iframe>


      <!-- Everything Google form -->
      <form action="https://docs.google.com/forms/d/1Wn3Z_5TcZ_LQ7Zl2-2ShZtymZMfpr6UTwEi6oxJwhAo/formResponse" method="POST" id="ss-form" onsubmit="return validate()" target="hidden_iframe">

      <div class="ss-form">
        <ol role="list" class="ss-question-list" style="padding-left: 0">

          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_332523929">
              <div class="ss-q-title">1. What is your patient&#39;s age?</div>
            </label>
            <input type="number" name="entry.332523929" value="" id="entry_332523929" aria-label="What is your patient&#39;s age?  Must be a number between 5 and 120" title="Must be a number between 5 and 120">
          </div><!-- 1st question -->
          </br>

          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1919644821">
              <div class="ss-q-title">2. What is your country&#39;s endemicity?</div>
              <div class="ss-q-help">This is how much your country is struggling.lol</div>
            </label>

            <ul class="ss-choices" role="radiogroup" aria-label="What is your country&#39;s endemicity?  ">
              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2009824324" value="High" id="group_2009824324_1" role="radio" class="ss-q-radio" aria-label="High"></span> <span class="ss-choice-label">High</span>
                </label>
              </li> 
              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2009824324" value="Intermediate" id="group_2009824324_2" role="radio" class="ss-q-radio" aria-label="Intermediate"> </span><span class="ss-choice-label">Intermediate</span>
                </label></li> 
              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.2009824324" value="Low" id="group_2009824324_3" role="radio" class="ss-q-radio" aria-label="Low"></span> <span class="ss-choice-label">Low</span>
              </label></li>
            </ul>
          </div><!-- 2nd question -->
          </br>


          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1952643675">
              <div class="ss-q-title">3. Do you have Cirrhosis?</div>
              <div class="ss-q-help">If yes, skip the next following questions and press submit.</div>
            </label>

            <ul class="ss-choices" role="radiogroup" aria-label="Do you have Cirrhosis? If yes, skip the next following questions and submit. ">
              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1154479602" value="Yes" id="group_1154479602_1" role="radio" class="ss-q-radio" aria-label="Yes"></span> <span class="ss-choice-label">Yes</span>
                </label>
              </li> 
              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1154479602" value="No" id="group_1154479602_2" role="radio" class="ss-q-radio" aria-label="No"></span> <span class="ss-choice-label">No</span></label>
              </li>
            </ul>
          </div><!-- 3rd question -->
          </br>


          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_81417422">
              <div class="ss-q-title">4. If your patient does not have Cirrhosis, what is your patient&#39;s ALT level?</div>
              <div class="ss-q-help" dir="auto">ALT = Alanine Aminotransferase ratio index</div>
            </label>

            <ul class="ss-choices" role="radiogroup" aria-label="If your patient does not have Cirrhosis, what is your patient&#39;s ALT level? ALT = Alanine Aminotransferase ratio index ">
              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1101946974" value="Persistently Abnormal" id="group_1101946974_1" role="radio" class="ss-q-radio" aria-label="Persistently Abnormal"></span>
                <span class="ss-choice-label">Persistently Abnormal</span></label>
              </li> 

              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1101946974" value="Intermittently Abnormal" id="group_1101946974_2" role="radio" class="ss-q-radio" aria-label="Intermittently Abnormal"></span>
                <span class="ss-choice-label">Intermittently Abnormal</span></label>
              </li> 

              <li class="ss-choice-item">
                <label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1101946974" value="Persistently Normal" id="group_1101946974_3" role="radio" class="ss-q-radio" aria-label="Persistently Normal"></span>
                <span class="ss-choice-label">Persistently Normal</span></label>
              </li>
            </ul>
          </div><!-- 4th question -->
          </br>


          <div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_1802110371"><div class="ss-q-title">5. What is your patient&#39;s HBV DNA level?</div>
            <div class="ss-q-help" dir="auto">Units in IU/ml.</div></label>

            <ul class="ss-choices" role="radiogroup" aria-label="What is your patient&#39;s HBV DNA level?  ">
              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1142656701" value="&gt;20,000 IU/ml" id="group_1142656701_1" role="radio" class="ss-q-radio" aria-label="&gt;20,000 IU/ml"></span>
                <span class="ss-choice-label">&gt;20,000 IU/ml</span></label>
              </li> 

              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1142656701" value="2000-20,000 IU/ml" id="group_1142656701_2" role="radio" class="ss-q-radio" aria-label="2000-20,000 IU/ml"></span>
                <span class="ss-choice-label">2000-20,000 IU/ml</span></label>
              </li> 

              <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1142656701" value="&lt;2000 IU/ml" id="group_1142656701_3" role="radio" class="ss-q-radio" aria-label="&lt;2000 IU/ml"></span>
                <span class="ss-choice-label">&lt;2000 IU/ml</span></label>
              </li>
            </ul>
          </div><!-- 5th question -->

          <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
            <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action "></td></tr></tbody></table>
          </div>
        </ol>
      </form>

      <!--form content ends here-->
    </div>
  </body>
</html>