 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="../../">
                    <i class="fa fa-play-circle"></i>  <span class="light">Home</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Result">Results</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Contact">Contact</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="color: #fff; text-transform: none; font-size:130px;">Results</h1>
                        <p class="intro-text" style="color: #000; font-family:'Lora'; letter-spacing: 2px; font-weight:bold; ">Treated and Untreated Survival Rates of Patients</p>
                        <a href="#Result" class="page-scroll">
                            <i class="fa fa-angle-double-down animated" id="arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


<li>
    <a href="http://liver.stanford.edu/jrc/index.html" class="link">
    <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true" style="display:block; font-size: 50px; padding-bottom: 10px; color:black;"></span>
        Join the campaign
    </a>
</li>




<h3 style="padding-top: 120px;">Want to help out or get to know us better?</h3>
<p>Read about or reach out to the team <a href="/#team">here</a>.</p>